{% extends 'base.html' %}
{% block content %}

<div class="inline">
  <h1 class="grey-text text-darken-2"><i class="material-icons medium grey-text text-darken-2">local_drink</i> {{beer.name|capfirst}}</h1>
  <a href="#modal1" class="btn-floating btn-large cyan lighten-3 pulse modal-trigger">tap it!</a>
</div>

<div class="row">
  <div class="col s8">
    <table>
      <tr>
        <th>Brewery:</th>
        <td>  </td>
        <td>{{beer.brewer|capfirst}}</td>
      </tr>
      <tr>
        <th>ABV:</th>
        <td>  </td>
        <td>{{beer.abv}}%</td>
      </tr>
      <tr>
        <th>IBU:</th>
        <td>  </td>
        <td>{{beer.ibu}}</td>
      </tr>
      <tr>
        <th>Style:</th>
        <td>  </td>
        <td>{{beer.style|capfirst}}</td>
      </tr>
      <tr>
        <th>Taste Profile:</th>
        <td>  </td>
        <td>{{beer.taste_profile|capfirst}}</td>
      </tr>
      <tr>
        <th>Typical Container:</th>
        <td>  </td>
        <td>{{beer.get_container_type_display}}</td>
      </tr>
    </table>
    
    <br><br>
   
    {% if beer.name in my_beers_list %}  
    <form action="{% url 'cooler_remove' beer.id user.id %}" method="POST">
        <button type="submit" class="btn brown lighten-2">Remove from My Cooler</button>
        {% csrf_token %}
    </form>
    {% else %}
    <form action="{% url 'cooler_add' beer.id user.id %}" method="POST">
        <button type="submit" class="btn brown lighten-2">Add to My Cooler</button>
        {% csrf_token %}
    </form>
    {% endif %}
    
   

  </div>
  <div class="col s4">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">See where this is tapped!</div>
        <div class="collapsible-body">
          search bar <br>
          {% for r in rests %}
            <p>{{ r.name }}</p>
          {% endfor %}
        </div>
      </li>
      <li>
        <div class="collapsible-header">Upload a photo</div>
        <div class="collapsible-body">
          upload form 
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Tap That Beer At A Restaurant!</h4>
    <table>
        {% for untapped in untapped_rests %}
        <tr>
          <th>{{ untapped.name }}</th>
          <td>
            <form action="">
              <button class="btn cyan pulse">tap at this restaurant</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var modalEls = document.querySelectorAll('.modal');
    var instances = M.Modal.init(modalEls);
  });
</script>

{% endblock %}