{% extends 'base.html' %}
{% block content %}

<h1>{{ restaurant.name }}</h1>
<h2>{{ restaurant.location }}</h2>
<h2>Style: {{ restaurant.food_style }}</h2>

<h4>Current Taps</h4>
{% for beer in restaurant.beers_on_tap.all %}
<p>{{ beer }}</p>
{% endfor %}

{% if restaurant.name in my_rests_list %}  
<form action="{% url 'restaurant_remove' restaurant.id user.id %}" method="POST">
    <button type="submit" class="btn brown lighten-2">Untrack this Restaurant</button>
    {% csrf_token %}
</form>
{% else %}
<form action="{% url 'restaurant_add' restaurant.id user.id %}" method="POST">
    <button type="submit" class="btn brown lighten-2">Track this Restaurant</button>
    {% csrf_token %}
</form>
{% endif %}

{% endblock %}