{% extends 'base.html' %}
{% block content %}



{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

<div class="row">
  <div class="input-field col s12">
    <h1 class="grey-text text-darken-2">Sign Up!</h1>
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-small brown lighten-2">submit<i class="material-icons right">send</i></button>
    </form>
    <h6>Already a member? Then <strong><a class="login grey-text text-darken-3" href="{% url 'login' %}">Login</a></strong> instead!</h6>
  </div>
</div>
<br><br>
{% endblock %}