{% extends 'base.html' %}
{% block content %}


<div class="container center">
    <h1>About TapThat</h1>
</div>


<div class="container">
    <p>
      There are many reasons we become “regulars”  at our favorite bars. Sometimes for the people or the atmosphere, but usually for the product. Too often we find a new craft beer that keeps us coming back for more, only to find one day that it’s been rotated out for something less savory.
    </p>
    <p>
        While most breweries have on-location bars or hold tours, the majority of their sales happen at third-party restaurants and bars. Most communication takes place between that bar and the brewery, leaving the customer guessing as to where the next great brews will pop up.
    </p>
  </div>

<div class="container">
  <p>TapThat is designed to connect Brewers, Restaurants, and Beer enthusiasts through an intuitive “Tap It!” system that tracks your favorite beers and where to find them.</p>  
</div>

<br>
<div class="container">
  <h5>Getting Started:</h5>
</div>
<div class="container">
      <p><i class="material-icons left">add_circle</i><a class="login grey-text text-darken-3" href="{% url 'login' %}">Log In</a> or <a class="login grey-text text-darken-3" href="{% url 'signup' %}"> Sign Up </a> to create an account.</p>
      <p><i class="material-icons left">home</i>Check out the latest brews and top perfomers on the <a class="login grey-text text-darken-3" href="{% url 'home' %}">Home Page</a>.</p>
      <p><i class="material-icons left">explore</i>Explore our extensive database of beers and restaurants on the <a class="login grey-text text-darken-3" href="{% url 'discover' %}">Discover Page</a>. Browse or Search for your favorite.</p>
      <p><i class="material-icons left">ac_unit</i>Find your favorites and add them to your <a class="login grey-text text-darken-3" href="{% url 'cooler' %}">Cooler</a> to stay up to date on where your favorite beer is tapped.</p>
      <p><i class="material-icons left">restaurant</i>Track your local hot spots in <a class="login grey-text text-darken-3" href="{% url 'my_restaurants' %}">My Restaurants</a> to see real-time info on who's got your brew on tap.</p>
      <p><i class="material-icons left">local_drink</i>Hit the "TAP IT!" button to connect your favorite beer to a restraurant. Let the world know your beer is here!</p>
</div>


<br>

<div class=" container center">
  <h5>The Tap That Team</h5>
</div>


<div class="row">
  <div class="col s12 m6 offset-m3 l4">
    <div class="card small white sticky-action hoverable">
      <div class="card-content">
        <span class="card-title center flow-text">Kevinn Arbas</span>
        <p class="center"><img class="activator responsive-img" src ="https://i.imgur.com/3D8FSr0.png"></p>
      </div>
      <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 center"><i class="material-icons right">close</i>Kevinn Arbas</span>
          <br>
          <ul class="browser-default">
            <li>Front-end Developer</li>
            <li>Full Stack Developer</li>
            <li>Materialize Master</li>
          </ul>
      </div>
      <div class="card-action center">
        <a href="https://www.linkedin.com/in/kevinnarbas/">LinkedIn</a>
        <a href="https://github.com/kevinnarbas">GitHub</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6 offset-m3 l4">
      <div class="card small white sticky-action hoverable">
        <div class="card-content">
          <span class="card-title center flow-text">Michael Hinte</span>
          <p class="center"><img class="activator responsive-img" src ="https://i.imgur.com/0YPTOGG.png"></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4 center"><i class="material-icons right">close</i>Michael Hinte</span>
            <br>
            <ul class="browser-default">
              <li>Back-end Developer</li>
              <li>Full Stack Developer</li>
              <li>Database Manager</li>
            </ul>
        </div>
        <div class="card-action center">
          <a href="https://www.linkedin.com/in/michael-hinte-929b96186/">LinkedIn</a>
          <a href="https://github.com/mhinte91">GitHub</a>
        </div>
      </div>
    </div>


    <div class="col s12 m6 offset-m3 l4">
        <div class="card small white sticky-action hoverable">
          <div class="card-content">
            <span class="card-title center flow-text">Ryan George</span>
            <p class="center"><img class="activator responsive-img" src ="https://i.imgur.com/hRfHY9a.png"></p>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4 center"><i class="material-icons right">close</i>Ryan George</span>
              <ul class="browser-default">
                <li>Front-end Developer</li>
                <li>Full Stack Developer</li>
                <li>GitHub Manager</li>
              </ul>
          </div>
          <div class="card-action center">
            <a href="https://www.linkedin.com/in/ryanpgeorge/">LinkedIn</a>
            <a href="https://github.com/RyanPGeorge">GitHub</a>
          </div>
        </div>
      </div>
  </div>

{% endblock %}