{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TapThat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav class="nav-extended">
            <div class="nav-wrapper brown">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;TapThat</a></li>
                </ul>
                <ul class="right">
                        <li><a href="{% url 'about' %}"><i class="material-icons left">info_outline</i>About</a></li>
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'discover' %}"><i class="material-icons left">search</i>Discover</a></li>
                      <li><a href="{% url 'logout' %}"><i class="material-icons left">lock_outline</i>Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}"><i class="material-icons left">add</i>Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><i class="material-icons left">lock_open</i>Log In</a></li>
                   {% endif %}
                  </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="nav-content">
                <ul class="tabs tabs-transparent brown darken-2">
                    <li class="tab"><a href="{% url 'home' %}"><i class="material-icons left">home</i>{{user.first_name|capfirst}}'s home</a></li>
                    <li class="tab"><a href="{% url 'cooler' %}"><i class="material-icons left">ac_unit</i>{{user.first_name|capfirst}}'s Cooler</a></li>
                    <li class="tab"><a href="#"><i class="material-icons left">restaurant</i>{{user.first_name|capfirst}}'s Restaurants</a></li>
                </ul>
            </div>
            {% endif %}
        </nav>
    </header>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script>M.toast({html: "{{message}}", classes: 'brown rounded', displayLength:2000});</script>
        {% elif message.tags == 'info'%}
            <script>M.toast({html: "{{message}}", classes: 'orange darken-4 rounded', displayLength:2000});</script>
        {% elif message.tags == 'warning'%}
            <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
        {% elif message.tags == 'error'%}
            <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
        {% endif %}
    {% endfor %}
    {% endif %}
    <main class="container">
        <br>
        {% block content %}
        {% endblock %}
    </main>
  	<footer class="page-footer brown">
       <div class="center">All Rights Reserved, &copy; 2019 TapThat &nbsp;</div>
    </footer>
</body>
</html>