{% extends 'base.html' %}
{% block content %}

<h1 class="grey-text text-darken-2">Discover Page</h1>

<div class="row">
    <div class="col s12">
        <div class="input-field">
            <form method="get" action="{% url 'search' %}">
                <input type="text" name="search_query">
                <button type="submit" class="btn-small brown lighten-2">Search</button>
            </form>
        </div>
    </div>
    <div class="col s12 m6 l6 show-on-medium-and-up hide-on-small-only">
    <h3>All Beers</h3>
        {% for beer in beers %}
            <a href="{% url 'beer_detail' beer.id %}">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">{{beer.name|capfirst}}</span>
                        <p>{{ beer.brewer|capfirst }} </p>
                        <br>
                            {% if beer.id in my_beers_list %}
                                <form action="{% url 'cooler_remove' beer.id user.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-small brown lighten-2">Remove from Cooler</button>
                                </form>
                            {% else %}
                                <form action="{% url 'cooler_add' beer.id user.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-small btn brown lighten-2">Add to Cooler</button>
                                </form>
                            {% endif %}
                        </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="col s12 m6 l6 show-on-medium-and-up hide-on-small-only">
    <h3>All Restaurants</h3>
        {% for restaurant in restaurants %}
            <a href="{% url 'restaurant_detail' restaurant.id %}">
                <div class="card hoverable">
                    <div class="card-content">
                        <span class="card-title">{{ restaurant.name|capfirst }}</span>
                        <p> {{restaurant.location|capfirst}}</p>
                        <br>
                        {% if restaurant.id in my_rests_list %}
                            <form action="{% url 'restaurant_remove' restaurant.id user.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn-small brown lighten-2">Untrack restaurant</button>
                            </form>   
                        {% else %}
                            <form action="{% url 'restaurant_add' restaurant.id user.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn brown lighten-2">Track restaurant</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <ul id="tabs-swipe-demo" class="tabs tabs2">
        <li class="tab col s6"><a href="#swipe1">Beers</a></li>
        <li class="tab col s6"><a href="#swipe2">Restauraunts</a></li>
        </ul>
        <div id="swipe1" class="col s12 small-tab">
            {% for beer in beers %}
                <a href="{% url 'beer_detail' beer.id %}">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="card-title">{{beer.name|capfirst}}</span>
                            <p>{{ beer.brewer|capfirst }} </p>
                            <br>
                                {% if beer.name in my_beers_list %}
                                    <form action="{% url 'cooler_remove' beer.id user.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-small brown lighten-2">Remove from Cooler</button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'cooler_add' beer.id user.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-small btn brown lighten-2">Add to Cooler</button>
                                    </form>
                                {% endif %}
                            </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div id="swipe2" class="col s12 small-tab">
            {% for restaurant in restaurants %}
                <a href="{% url 'restaurant_detail' restaurant.id %}">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="card-title">{{ restaurant.name|capfirst }}</span>
                            <p> {{restaurant.location|capfirst}}</p>
                            <br>
                            {% if restaurant.name in my_rests_list %}
                                <form action="{% url 'restaurant_remove' restaurant.id user.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn-small brown lighten-2">Untrack restaurant</button>
                                </form>   
                            {% else %}
                                <form action="{% url 'restaurant_add' restaurant.id user.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn brown lighten-2">Track restaurant</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tabs2');
    var instance = M.Tabs.init(elems, {
        swipeable: true,
    });
  });
</script>

{% endblock %}