{% extends 'base.html' %}
{% block content %}

<div class="container center">
  <h1><img class="responsive-img" src ="https://i.imgur.com/8kY2kip.png"></h1>
</div>

<div class="container">
  <p>TapThat is designed to connect Brewers, Restaurants, and Beer enthusiasts through an intuitive “Tap It!” system that tracks your favorite beers and where to find them.</p>  
</div>


<div class="container">
 <p><a href="{% url 'signup' %}"><i class="material-icons left">add_circle</i>Sign Up</a></p>
</div>

<div class="container">
 <p><a href="{% url 'login' %}"><i class="material-icons left">lock_open</i>Already a User? Login!</a></p>
</div>

<br>
<br>

<div class="container center">
  <h5>_____________</h5>
</div>

<div class="container">

<div class="row">
    <div class="col s12 m6">
      <div class="card-panel small grey lighten-2">
        <h6>"Number 1 Beer App of 2019"</h6>
        <p>- Beer Tech Review</p>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel small grey lighten-4">
        <h6>"The Superman of Beer Apps"</h6>
        <p>- The Daily Planet</p>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card-panel small grey lighten-3">
        <h6>"WOW."</h6>
        <p>- Beer Drinkers Monthly</p>
      </div>
    </div>
    
  </div>
  
</div>








{% endblock %}