{% extends 'base.html' %}
{% block content %}

<h1 class="grey-text text-darken-2"><i class="material-icons medium">restaurant</i> My Restaurants</h1>

<div class="row">
{% for r in my_rests %}
  <div class="col s12 m6 l6">
    <a href="{% url 'restaurant_detail' r.rest.id %}">
      <div class="card small hoverable">
        <div class="card-content">
          <p class="card-title  grey-text text-darken-3 center-align"><i class="material-icons medium">restaurant_menu</i></p>
          <div class="divider"></div>
          <span class="card-title grey-text text-darken-3 center-align"><h3>{{ r.rest.name|capfirst }}</h3></span>
          <p class="grey-text text-darken-3 center-align">{{ r.rest.location|capfirst }}</p>
        </div>
      </div>
    </a>
  </div>
{% endfor %}
</div>
{% endblock %}